@import "all.less";

@width_form: 250px;

.login_form {

	// login form style
	width: @width_form;
	position: fixed;
	margin-top: 15%;
	left: 50%;
	margin-left: -(@width_form / 2);
	.border(1px, @border_color, solid);
	padding: 5px 10px;
	text-align: center;


	// Children login form style
	#flogin, #loginin {
		width: 90%;
		color: @text_color;
		background: @bg_color;
		.border;
		font-family: @ff;
	}

	#loginin {
		margin-top: -1px;
		.border(1px, @bg_color); // hide border
		border-top: 1px @border_color solid;

		&:hover {
			.border(1px, @border_color);
		}
	}
}