@import "all.less";

@header_height: 50px;
@footer_height: 11px;
@nav_height: 15px;

.header {
	// header style

	width: 100%;
	height: @header_height;

	position: fixed;
	top: 0;
	left: 0;

	background: @bg_color;
	.bottom_line;


	// Children header 
	h3 {
		@lw: 180px;
		width: @lw;
		position: fixed;
		left: 50%; 
		margin-left: -(@lw / 2);
		top: 2px;
		font-size: 3em;
		text-align: center;
	}

	nav {
		height: @nav_height;

		ul {
			position: fixed;
			top: @header_height - @nav_height;
			right: 10px;

			li {
				display: inline;
			}
		}
	}

	#nav_category {
		position: fixed;
		top: @header_height - @nav_height;
	}
}

.content {
	// content style 
	width: 100%;
	margin-top: @header_height;
	margin-bottom: @footer_height;

	// Children content
	ol {
		margin-left: 5px;
		
		li:before {
			content: ">";
		}

		ol {
			margin-left: +10px;
			li {
				list-style-type: none;
			}

			li:before {
				content: ">";
			}
		}

	}

	table {
		width: 100%;
		border-spacing: 0;

		td {
			width: 20%;
			.border;
		}

		tr:hover {
			background: lighten(@bg_color, 10%);
		}
	}
}

footer {
	height: @footer_height;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: @footer_height;
	border-top: 1px @text_color solid;
	padding: 0px 5px;
}