@import "all.less";

@header_height: 60px;
@footer_height: 11px;
@nav_height:    15px;

.header {
	// header style
	width: 100%;
	height: @header_height;
	position: fixed;
	top: 0;
	left: 0;
	background: @bg_color;
	.bottom_line;

	// Children header 
	h3 {
		@lw: 180px; // logo(title) width 
		width: @lw;
		position: fixed;
		left: 50%; 
		margin-left: -(@lw / 2);
		top: 2px;
		font-size: 3em;
		text-align: center;
	}

	nav {
		display:block;
		position:absolute;
		top: @header_height - @font_size - 3;
		z-index: 2;
		right: 10px;

		li {
			display:inline-block;
			position:relative;
			margin: 0px 5px;
			
			ul {
				position:absolute;
				top:15px;
				display:none;  
				background: #000;
				border: 1px  @border_color solid;

				li {
					padding: 0px 10px;
				}
			}

			&:hover {
				ul {
					display: block;
				}

			}
		}
	}
	
	#nav_category {
		position: fixed;
		top: @header_height - @nav_height;
		left: 0;
		z-index: 2;

		a {
			&:before {
				content: "/"
			}
		}

		a + a {
			&:before {
				content: "> ";
			}
		}
	}
}

.content {
	// content style 
	width: 100%;
	margin-top: @header_height;
	margin-bottom: @footer_height;

	// Children content
	ol {
		margin-left: 5px;
		
		li:before {
			content: ">";
		}

		ol {
			margin-left: 10px;
			
			li {
				list-style-type: none;
			}
		}
	}

	#price_table {
		width: 100%;
		border-spacing: 0;

		td {
			width: 20%;
			.border;
		}

		tr {
			&:hover {
				background: lighten(@bg_color, 10%);
			}
		}
	}

	#description_table {
		width: 100%;
		padding: 5px;

		input {
			background: @bg_color;
			color: @text_color;
			.border;
			.bottom_line;
		}
	}

	#set_button {
		margin: 5px;
		padding: 2px 5px;
		background: @bg_color;
		color: @text_color;
		.border(1px, lighten(@bg_color, 10%), solid);

		&:hover {
			.inverse_color;
		}
	}
}

footer {
	height: @footer_height;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: @footer_height;
	border-top: 1px @border_color solid;
	padding: 0px 5px;
}